
@{
    ViewData["Title"] = "Error";
}
<div class="contact-page mt-5 pt-5">
    <div class="container mt-5 pt-5">
        <div class="row mb-5 pb-5">
            <div class="col-lg-12">
                <div class="left-text">
                    <div class="section-heading">
                        <h2>Falta de permisos <i class="fa-solid fa-triangle-exclamation text-warning"></i></h2>
                    </div>
                    <p>No tienes los permisos necesarios para acceder.</p>
                    <ul>
                        <li><span>¿Algo está mal?</span> Contacta con nuestro soporte para obtener una solución.</li>
                        <li><span>Dirección:</span> Barrio Córdoba. Del Centro Comercial del Sur, 75 metros sureste.</li>
                        <li><span>Teléfono:</span> +506 2286 0161</li>
                        <li><span>Correo:</span> <a href="mailto:informa@asociacionroblealto.org">informa@asociacionroblealto.org</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

