@model Tera_Web.Entities.OrderObj

@{
    ViewData["Title"] = "EditOrder";
}

<section class="content mt-4">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-md-4 mt-4">
                <div class="">
                    <div class="">
                        <h4 class="card-title text-center">Edición de pedido</h4>
                    </div>
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="orderId" class="control-label"></label>
                            <input asp-for="orderId" class="form-control" />
                            <span asp-validation-for="orderId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="orderUser" class="control-label"></label>
                            <input asp-for="orderUser" class="form-control" />
                            <span asp-validation-for="orderUser" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="orderDate" class="control-label"></label>
                            <input asp-for="orderDate" class="form-control" />
                            <span asp-validation-for="orderDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="orderTotal" class="control-label"></label>
                            <input asp-for="orderTotal" class="form-control" />
                            <span asp-validation-for="orderTotal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
