@model Tera_Web.Entities.UserObj

@{
    ViewData["Title"] = "EditUser";
}

<h1>EditUser</h1>

<h4>UserObj</h4>
<hr />


<section class="content">
    <div class="offset-4 container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="">
                    <div class="card-header">
                        <h3 class="card-title pb-3 text-center">Edicion de Usuario</h3>
                    </div>
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group pb-2">
                            <label asp-for="userId" class="control-label"></label>
                            <input asp-for="userId" class="form-control" />
                            <span asp-validation-for="userId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userGovId" class="control-label"></label>
                            <input asp-for="userGovId" class="form-control" />
                            <span asp-validation-for="userGovId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userName" class="control-label"></label>
                            <input asp-for="userName" class="form-control" />
                            <span asp-validation-for="userName" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userFirstSurname" class="control-label"></label>
                            <input asp-for="userFirstSurname" class="form-control" />
                            <span asp-validation-for="userFirstSurname" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userSecondSurname" class="control-label"></label>
                            <input asp-for="userSecondSurname" class="form-control" />
                            <span asp-validation-for="userSecondSurname" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="email" class="control-label"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="password" class="control-label"></label>
                            <input asp-for="password" class="form-control" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check pb-2">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="active" /> @Html.DisplayNameFor(model => model.active)
                            </label>
                        </div>
                        <div class="form-group pb-5">
                            <label asp-for="idRole" class="control-label"></label>
                            <input asp-for="idRole" class="form-control" />
                            <span asp-validation-for="idRole" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="button" value="Cancelar" class="btn btn-danger offset-2" />
                            <input type="submit" value="Editar" class="btn btn-success offset-4" />
                        </div>
                    }
                </div>
            </div>

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
