@model Tera_Web.Entities.UserEPObj

@{
    Layout = "_LayoutAuth";
}

<div class="contact-page register-user">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-text">
                    <div class="section-heading">
                        <h2>Registrar usuario</h2>
                    </div>
                    <p>Ingresa un correo para registrar un nuevo usuario.</p>
                    <ul>
                        <li><span>Dirección</span> Barrio Córdoba. Del Centro Comercial del Sur 75 metros sureste.</li>
                        <li><span>Teléfono</span> +506 2286 0161</li>
                        <li><span>Correo</span> <a href="mailto:informa@asociacionroblealto.org">informa@asociacionroblealto.org</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 mb-5 align-self-center">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Register", "User", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <div>
                                                @Html.ValidationMessageFor(m => m.userEmail, "", new { @class = "text-danger" })
                                                @Html.TextBoxFor(m => m.userEmail, new { @class="form-control", @placeholder="Correo electrónico", @type = "email", @id="email", @name="email", @onblur= "EmailExists();"})
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            @Html.ValidationMessageFor(m => m.userPassword, "", new { @class = "text-danger" })
                                            @Html.TextBoxFor(m => m.userPassword, new { @class="form-control", @placeholder="Contraseña", @type = "password", @id = "password", @name = "password" })
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="btn-form-submit">Registrar usuario</button>
                                        </fieldset>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/EmailExists.js"></script>