@model Tera_Web.Entities.OrderDetailObj

@{
    ViewData["Title"] = "EditOrderDetails";
}

<section class="content mt-4">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-md-4 mt-4">
                <div class="">
                    <div class="">
                        <h4 class="card-title text-center">Edición de detalle de pedido</h4>
                    </div>
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(m => m.orderDetailsId)
                        @Html.HiddenFor(m => m.orderId)
                        <div class="form-group">
                            <fieldset>
                                <label asp-for="productName" class="control-label"></label>
                                @Html.DropDownListFor(m => m.productId, ViewBag.ComboProductId as List<SelectListItem>, new { @class = "form-control", @onchange = "clearError('userRoleId')", @disabled = true  })
                                @Html.ValidationMessageFor(m => m.productId, "", new { @class = "text-danger", @id = "userRoleId-error" })
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label asp-for="orderDetailsQuantity" class="control-label"></label>
                            <input asp-for="orderDetailsQuantity" class="form-control" />
                            <span asp-validation-for="orderDetailsQuantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</section>