<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="caption header-text">
                    <h6>Bienvenido a Tera</h6>
                    <h2>Sistema de Gestión de Pedidos</h2>
                    <p>Desde Tera podrás gestionar los pedidos para la Fundación Roblealto</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image align-self-center">
                    <img src="~/images/children.jpg" alt="niños">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="@Url.Action("Consolidated","Consolidated")">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-04.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Consolidado</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="@Url.Action("UserProfile","User")">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-02.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Perfil</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-03.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Logs</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-01.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Reportes</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>