@model Tera_Web.Entities.RoleObj

@{
    ViewData["Title"] = "Register";
}

<section class="content mt-5 pt-5">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="">
                    <div class="card-header">
                        <h3 class="card-title pb-3 text-center">Edición de Roles</h3>
                    </div>
                    @using (Html.BeginForm("EditRole", "Role", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group pb-2">
                            @Html.HiddenFor(m => m.roleId)
                            <label asp-for="roleId" class="control-label"></label>
                            <input asp-for="roleId" class="form-control" readonly disabled/>
                            <span asp-validation-for="roleId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="roleName" class="control-label"></label>
                            <input asp-for="roleName" class="form-control" />
                            <span asp-validation-for="roleName" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="roleDescription" class="control-label"></label>
                            <input asp-for="roleDescription" class="form-control" />
                            <span asp-validation-for="roleDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("List","Role")" class="btn btn-danger " type="button"><i class="fa-solid fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-check "></i></button>
                        </div>
                    }
                </div>
            </div>

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>