@model Tera_Web.Entities.ProductObj

@{
    ViewData["Title"] = "EditProduct";
}

<section class="content mt-5">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="">
                    <div class="card-header">
                        <h4 class="card-title pb-3 text-center">Edición de Producto</h4>
                    </div>
                    @using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group pb-4">
                            @Html.HiddenFor(m => m.productId)
                            <label asp-for="productId" class="control-label"></label>
                            <input asp-for="productId" class="form-control" disabled/>
                            <span asp-validation-for="productId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="productName" class="control-label"></label>
                            <input asp-for="productName" class="form-control" />
                            <span asp-validation-for="productName" class="text-danger"></span>
                        </div>
                        <div class="form-group  pb-4">
                            <label asp-for="productCost" class="control-label"></label>
                            <input asp-for="productCost" class="form-control" />
                            <span asp-validation-for="productCost" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="productMeasurementUnit" class="control-label"></label>
                            @Html.DropDownListFor(m => m.productMeasurementUnit,ViewBag.ComboUnit as List<SelectListItem>, new { @class="form-control" })
                            <span asp-validation-for="productMeasurementUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("List","Product")" class="btn btn-danger " type="button"><i class="fa-solid fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-check "></i></button>
                        </div>
                    }
                </div>
            </div>

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>