@model Tera_Web.Entities.ProductObj

@{
    ViewData["Title"] = "EditProduct";
}

<section class="content mt-5">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-md-4">
                <div>
                    <h4 class="pb-3 text-center">Edición de producto</h4>
                    @using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group pb-4">
                            @Html.HiddenFor(m => m.productId)
                            <label asp-for="productId" class="control-label"></label>
                            <input asp-for="productId" class="form-control disabled" disabled />
                            <span asp-validation-for="productId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="productName" class="control-label"></label>
                            <input asp-for="productName" id="productNameInput" class="form-control" />
                            <span asp-validation-for="productName" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="productCost" class="control-label"></label>
                            <input asp-for="productCost" id="productCostInput" class="form-control" />
                            <span asp-validation-for="productCost" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="productMeasurementUnit" class="control-label"></label>
                            @Html.DropDownListFor(m => m.productMeasurementUnit, ViewBag.ComboUnit as List<SelectListItem>, new { @class = "form-control", id = "productMeasurementUnit" })
                            <span asp-validation-for="productMeasurementUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-4">
                            <label asp-for="categoryName" class="control-label"></label>
                            @Html.DropDownListFor(m => m.categoryId, ViewBag.CombocategoryId as List<SelectListItem>, new { @class = "form-control", id = "categoryId" })
                            <span asp-validation-for="productMeasurementUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("List","Product")" class="btn btn-danger " type="button"><i class="fa-solid fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-check "></i></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/productvalidation.js"></script>