@model Tera_Web.Entities.ProductObj

@{
    ViewData["Title"] = "EditProduct";
}

<section class="content mt-5">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="">
                    <div class="card-header">
                        <h3 class="card-title pb-3 text-center">Edición de Usuario</h3>
                    </div>
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="productId" class="control-label"></label>
                            <input asp-for="productId" class="form-control" />
                            <span asp-validation-for="productId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="productName" class="control-label"></label>
                            <input asp-for="productName" class="form-control" />
                            <span asp-validation-for="productName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="productCost" class="control-label"></label>
                            <input asp-for="productCost" class="form-control" />
                            <span asp-validation-for="productCost" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="productMeasurementUnit" class="control-label"></label>
                            <input asp-for="productMeasurementUnit" class="form-control" />
                            <span asp-validation-for="productMeasurementUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>