@model Tera_Web.Entities.SiteObj

@{
    ViewData["Title"] = "Register";
}

<section class="content mt-4">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-md-4 mt-4">
                <div>
                    <h4 class="card-title text-center">Registro de sede</h4>
                    @using (Html.BeginForm("Register", "Site", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="siteName" class="control-label"></label>
                            <input asp-for="siteName" id="siteNameInput" class="form-control" />
                            <span asp-validation-for="siteName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="siteUbication" class="control-label"></label>
                            <input asp-for="siteUbication" id="siteUbicationInput" class="form-control" />
                            <span asp-validation-for="siteUbication" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Registrar" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/sitevalidation.js"></script>