
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Pedidos - Roblealto</title>

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/tera.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    
    <script src="https://kit.fontawesome.com/a2721d9abd.js" crossorigin="anonymous"></script>
</head>

<body>
    
     @RenderBody()

    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Derechos Reservados <script>document.write(new Date().getFullYear());</script> &copy; Desarrollado por Asociación Roblealto</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/counter.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>