@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="contact-page mt-5 pt-5">
    <div class="container mt-5 pt-5">
        <div class="row mb-5 pb-5">
            <div class="col-lg-12">
                <div class="left-text">
                    <div class="section-heading">
                        <h1 class="text-danger">Error<i class="fa-solid fa-triangle-exclamation text-danger"></i></h1>
                        <h2 class="text-danger">An error occurred while processing your request.</h2>
                    </div>
                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }
                    <p>
                        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
                        It can result in displaying sensitive information from exceptions to end users.
                        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
                        and restarting the app.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
